:root {
  --white-color: #ffffff;
  --main-color: #74cfae;
  --lightgray-color: #c0c0c0
}

body {
  width: 100vw;
  font-family: Lato;
}

h2 {
  font-size: 24px;
}

.heading {
  font-family: Raleway;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px;
  background-color: var(--white-color);
}

.headerInner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

#boltIcon {
  color: #333333;
  font-size: 40px;
}

.contactButton {
  padding: 14px 12px;
  border: none;
  font-size: 12px;
  color: var(--white-color);
  background-color: var(--main-color);
}

#boltThemeSec {
  margin-top: 50px;
  width: 100%;
  padding: 250px 0;
  background-color: #f2f2f2;
}

#boltThemeInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boltThemeTitle {
  margin-bottom: 20px;
  font-size: 90px;
  font-weight: bold;
  color: var(--main-color);
}

#boltThemeSubtitle {
  font-size: 30px;
  color: var(--lightgray-color);
}

#wwcdSec {
  padding-top: 50px;
  background-color: var(--main-color);
  color: var(--white-color);
}

#wwcdInner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#iphoneImg {
  width: calc(100% - 60%) ;
  text-align: center;
}

#wwcdSentences {
  width: calc(100% - 40%) ;
  text-align: center;
}

#wwcdTitle {
  margin-bottom: 35px;
}

#wwcdText {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 300;
}
